@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme {
  /* Color */
  --color-brand-primary: #022135;
  --color-brand-accent: #29AE45;
  --color-brand-background: #F8FAFC;
  --color-brand-divider: #E2E8F0;

  --color-brand-yellow: #FFD700;
  --color-brand-other-green: #1E7D32;
  --color-brand-other-blue: #014068;

  /* Text color */
  --color-text-primary: #022135;
  --color-text-secondary: #475569;
  --color-text-white: #F8FAFC;
  --color-text-dark-green: #1E7D32;
  --color-text-green: #29AE45;

  /* Status color */
  --color-pending: #F59E0B;
  --color-success: #10B981;
  --color-danger: #F43F5E;
  --color-info: #0EA5E9;

  /* Radius & Stroke */
  --radius-brand: 12px;
  --border-brand: 1px;
  --stroke-icon: 2px;

  /* Font */
  --font-brand: var(--font-inter), 'Inter', sans-serif;

  /* Spacing gap */
  --spacing-gap-8: 8px;
  --spacing-gap-16: 16px;
  --spacing-gap-24: 24px;
  --spacing-gap-32: 32px;
  --spacing-gap-36: 36px;
  --spacing-gap-40: 40px;
  --spacing-gap-56: 56px;
  --spacing-gap-80: 80px;
  --spacing-gap-120: 120px;
  --spacing-gap-360: 360px;
  --spacing-gap-384: 384px;
}

@layer base {
  body {
    background-color: var(--color-brand-background);
    color: var(--color-text-primary);
    font-family: var(--font-brand);
    @apply antialiased;
  }

  h1 { @apply text-[48px] font-bold; }
  h2 { @apply text-[32px] font-bold; }
  h3 { @apply text-[20px] font-semibold; }
  h4 { @apply text-[18px] font-semibold; }
  p { @apply text-[16px] font-normal; }
  h5 { @apply text-[14px] font-normal; }

  section { 
    padding-left: var(--spacing-gap-80);
    padding-right: var(--spacing-gap-80);
    padding-top: var(--spacing-gap-24);
    padding-bottom: var(--spacing-gap-24);
  }

  @media (max-width: 768px) {
    section {
      padding-left: var(--spacing-gap-24);
      padding-right: var(--spacing-gap-24);
    }
  }
}

@layer utilities {
  .blue-section {
    background-color: var(--color-brand-primary);
    color: var(--color-text-white);
  }
}